<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Donation</title>
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <link rel="stylesheet" href="styles/records.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="donationRecord">
            <div v-if="hasPermission === false">
                <h3>No tiene permiso para ver este registro.</h3>
            </div>
            <div v-if="hasPermission === true && (recordExists === false || sameOrg === false)">
                <h3>El registro no existe en la organización.</h3>
            </div>
            <div v-if="hasPermission === true && recordExists === true && sameOrg === true">
                <div>
                    <table class="table registro">
                        <thead>
                        <tr v-for="field in donation.fields" class="table-warning" ><th v-if="field.fieldValue != null && field.fieldName === 'Donation Number'" colspan="2" class="tituloTabla">Donación Número {{field.fieldValue}}</th></tr>
                        </thead>
                        <tbody>
                        <tr v-for="field in donation.fields">
                            <th v-if="field.fieldValue != null && field.fieldName !== 'Donation Number'">{{field.fieldName}}</th>
                            <td v-if="field.fieldValue != null && field.fieldName !== 'Donation Number'">{{field.fieldValue}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="botones">
                    <input type="button" class="btn btn-success boton" v-if="isRecurrent === true && status !== 'INACTIVE'" @click="cancelar()" value="Cancelar Donación Recurrente">
                    <input type="button" class="btn btn-danger boton" @click="back()" value="Atrás">
                </div>
            </div>
        </div>
        <script src="scripts/popper.min.js"></script>
        <script src="scripts/jquery-3.5.1.min.js"></script>
        <script src="scripts/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="scripts/donation.js"></script>
    </body>
</html>