<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <link rel="stylesheet" href="styles/mainPage.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="mainPage">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand me-auto" href="#">trackNGO</a>
                <span class="mx-auto">
                    <span class="navbar-text navText">
                        Organización: {{organization.name}}
                    </span>
                    <span class="navbar-text navText">
                        Colaborador/a: <a @click="redirectToRecord('collaborator', collaborator.id)"><span class="clickable">{{collaborator.fullName}}</span></a>
                    </span>
                </span>
                <form class="form-inline my-2 my-lg-0 ms-auto logout">
                    <button class="btn btn-outline-danger my-2 my-sm-0" @click="logout()">Cerrar Sesión</button>
                </form>
            </nav>

            <div class="row">
                <section class="col-8">
                    <div class="row">
                        <section id="eventsRecords">
                        <h2>Eventos</h2>
                            <table id="events" class="table table-striped tablas">
                                <thead>
                                    <tr class="table-primary"><th>Nombre</th><th>Fecha</th><th>Hora</th><th>Lugar</th></tr>
                                </thead>
                                <tbody>
                                    <tr v-for="evento in events" v-bind:id="'evento' + evento.id">
                                        <td @click="redirectToRecord('event', evento.id)"><span class="clickable">{{evento.eventName}}</span></td>
                                        <td>{{evento.eventDate}}</td>
                                        <td>{{evento.eventTime}}</td>
                                        <td>{{evento.address}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                        <section id="friendsRecords">
                            <h2>Amigos</h2>
                            <table id="friendRecord" class="table table-striped tablas">
                                <thead>
                                    <tr class="table-primary"><th>Nombre</th></tr>
                                </thead>
                                <tr v-for="friend in friends" v-bind:id="'amigo' + friend.id">
                                    <td @click="redirectToRecord('friend', friend.id)"><span class="clickable">{{friend.fullName}}</span></td>
                                </tr>
                            </table>
                        </section>
                        <section id="donationsRecords">
                            <h2>Donaciones</h2>
                            <table id="donationRecord" class="table table-striped tablas">
                                <thead>
                                    <tr class="table-primary"><th>Número de la Donación</th><th>Tipo</th><th>Estado</th></tr>
                                </thead>
                                <tr v-for="donation in donations" v-bind:id="'donacion'+donation.id">
                                    <td class="col-4" @click="redirectToRecord('donation', donation.id)"><span class="clickable">{{donation.donationNumber}}</span></td>
                                    <td class="col-4">{{donation.donationType}}</td>
                                    <td class="col-4">{{donation.status}}</td>
                                </tr>
                            </table>
                        </section>
                        <section id="transactionsRecords">
                            <h2>Transacciones</h2>
                            <table id="transactionRecord" class="table table-striped tablas">
                                <thead>
                                    <tr class="table-primary"><th>Número de Transacción</th><th>Nombre</th><th>Tipo</th><th>Monto</th><th>Estado</th></tr>
                                </thead>
                                <tr v-for="transaction in transactions" v-bind:id="'transaccion' + transaction.txnId">
                                    <td class="col-3" @click="redirectToRecord('transaction', transaction.txnId)"><span class="clickable">{{transaction.transactionNumber}}</span></td>
                                    <td class="col-3">{{transaction.Name}}</td>
                                    <td class="col-3">{{transaction.type}}</td>
                                    <td class="col-3">{{transaction.amount}}</td>
                                    <td class="col-3">{{transaction.status}}</td>
                                </tr>
                            </table>
                        </section>
                    </div>
                </section>
                <section class="col-4">
                    <section id="operations">
                        <h2>Gestiones</h2>
                        <button class="row btn btn-outline-info boton" @click="addCollaborator()">Agregar Colaborador/a</button> <br>
                        <button class="row btn btn-outline-info boton" @click="createEvent()">Crear Evento</button> <br>
                        <button class="row btn btn-outline-info boton" @click="addFriend()">Agregar Amigo/a</button> <br>
                        <button class="row btn btn-outline-info boton" @click="createOrgTxn()">Crear Transacción de la Organización</button>
                    </section>
                    <section id="balance">
                        <h2>Organization Balance</h2>
                        <p>{{balance}}</p>

                    </section>
                </section>
            </div>
        </div>
        <!--Import jQuery, Popper, Bootstrap and Sweetalert-->
        <script src="scripts/popper.min.js"></script>
        <script src="scripts/jquery-3.5.1.min.js"></script>
        <script src="scripts/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="scripts/mainPage.js"></script>
    </body>
</html>