body{
    background: url("https://wallpaperaccess.com/full/5385159.jpg") no-repeat center fixed;
    background-size: cover;
}
.container{
    color: white;
}
#tablaL, #tablaG, #tablaMG{
    margin: 5%;
    right: 5%;
    color: white;
    left: 0;
}
.tableTitle{
    font-size: 32px;
}
#logOut, #formularioLogIn{
    margin-left: 5%;
    margin-right:5%;
}